@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100&display=swap');

.body{
    font-family: "kanit", sans-serif ;
}

/* Estilização dos cards de personagens */
.content{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.textosecundario{
    color: #6f7274;
    padding-bottom: 20px;
}
.bottontext{
    color: #ad201bb4;
}

.titulo{
    color: #c00f0f;
}
.card {
    background: #fff;
    box-shadow: 0px 2px 18px #7b000085;
    border-radius: 20px;
    margin: 50px 50px;
}

.mediacard{
    background: center/cover;
    height: 300px;
    width: 100%;
}

.toplocard {
    padding: 20px;
    padding-top: 0px ;
}

.bottoncard {
    padding: 20px;
}


/* Estilização do rodapé */
.rodape{
    align-items: center;
    text-align:center;

}
.tm-social{
    width: 50px;
    height: 50px;
    padding: 30px;
}

/* Estilização do index */

.apresentacao{
text-align: center;
align-items: center;
padding: 15px;

}
.center{
text-align: center;
}

.container{
    
    display: flex;
    flex-flow: row ;
    justify-content: center;
    align-items: center;

}
.container h1{
    color: #c00f0f;
}
.mb-50{
margin-bottom: 50px;

}
.ml-50{
    margin-left: 50px;
}



/* Estilização de contato */


/*Estilização do menu */
.navegacao li{
 display: inline;
padding: 20px;

}

.navegacao li a{
    text-decoration: none;
    color: #000000;
}

.navegacao li a:hover{
    text-transform:initial;
    color: #6f7274;
}
